includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
    ignoreErrors:
        - '#PHPDoc tag @var#'
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkMissingIterableValueType: false
