includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
    ignoreErrors:
        -
            message: '#Call to an undefined method .+::with\(\)#'
            path: tests/*
        -
            message: '#Undefined variable: \$this#'
            path: tests/Pest.php
        -
            message: '#Function .+ has no return type specified#'
            path: tests/Pest.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
